
#construct_knowledge{
  margin-top: -25px;
  padding-left: 14px;
  font-family: fantasy;
  font-weight:200px;
  font-size: 25px;

}
#wrapper{
  margin-top: -25px;
  position: fixed;
}
#logo{

  float: left;
  padding-top: 22px;
  padding-left: 15px;
}
#logo-guide{
  width: 800px;
  height: 60px;
  background-color: #A9A9A9;

}
#about_the_product{
  padding-top: 100px;
  padding-bottom: 30px;
  width: 800px;
  height: 450px;
  background-color: #ffffff;

}
#introduction_the_product{
  color:white;
}

#product_methodology{
  padding-top: 10px;
  width: 800px;
  height: 800px;
  background-color: #A9A9A9;
}
.nav-guide li{
  display: inline-block;
  float:right;
  position: relative;
  padding-top: 18px;
  padding-right: 20px;
}
.nav-guide a{
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  padding: 8px 8px;
  font-family: Sans-serif;
  font-weight: bold;
}
.nav-guide li:hover > a,

.nav-guide a:focus {

    border-radius: 5px;
    background-color: #ffffff;
    color:#A9A9A9;

}
