* {
  box-sizing: border-box;
}


#construct_knowledge {
  margin-top: -25px;
  padding-left: 14px;
  font-family: fantasy;
  font-weight: 200px;
  font-size: 25px;
}

#header {
  height: 80px;
  background-color:#262626;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

#wrapper {
  margin-top: -15px;
}

#logo {
  float: left;
  padding-top: 5px;
  padding-left: 15px;

}

#logo-guide {
  height: 60px;
  background-color:  #262626;
}



.toggle-nav {
  display: none;
}



#about_the_product {
  padding-top: 80px;
  padding-bottom: 30px;
  height: auto;
  background-color: #e7e6e6;
  position: relative;
  text-align: center;
}



#introduction_the_product {
  background-color: #DCDCDC;
  height: 350px;

}

.jumbotron_text{
  position: absolute;
  top:40%;
  left: 40%;
  color: white;
  font-size: 6vw;
  font-weight: bold;
}

.jumbotron_metaphor{
  position: absolute;
  top:60%;
  left: 15%;
  color: #FFFFE0;
  font-size: 3vw;
  font-weight: bold;
}

.flow{
  background-color: white;
  padding-top: 70px;
}

.flow_steps li{
  list-style-type: none;
  text-align: center;

}

.match{
  padding-bottom: 50px;

}

.match::after{
  content: "";
  clear:both;
  display: block;

}
.match_1{
  padding-bottom: 50px;

}

.match_1::after{
  content: "";
  clear:both;
  display: block;

}

.flow_text_1{
  text-align: left;
  font-size: 2vw;


}

.flow_text_2{

  text-align: left;
  font-size: 2.2vw;

}
.flow_text_4{
  text-align: center;
}

.flow_text_3{
  padding-left: 100px;
  text-align: center;
  font-size: 2.2vw;


}


.list_3 li{
  margin: auto;
  width: 250px;
  height: 250px;
  list-style-type: none;
  border:5px solid red;
  border-radius:125px;


}


.subheader{
  text-align: center;
  font-size: 2.5vw;

  font-weight: bold;
}
.subheader_2{
  text-align: center;
  padding-left: 100px;
  background-color: #DCDCDC;
}
.subheader_3{
  text-align: center;
  font-size: 1.5vw;
  background-color:white;
  font-weight: bold;
}
.subheader_4{
  text-align: center;
  padding-left: 25px;
  background-color:white;
  font-size: 1.5vw;
  font-weight: bold;
}


.arrow_center{
  text-align: center;
  color: #CD853F;
}

#introduction {
  padding-bottom: 50px;
  background-color: #e7e6e6;
  height: auto;
  font-weight:900;

}

#introduction p{
  margin-left: 100px;
}

/*.text_ai{
  position: relative;
  text-align: right;
  padding-right: 50px;
  font-family:sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #F07818;
    top:-550px;
}*/

.demo_setting{

max-width: 100%;
height:auto;
border-radius: 15px;

display: block;
margin-left: auto;
margin-right: auto;


}

.ai{
  padding-top: 100px;
  max-width: 100%;
  padding-bottom: 27px;
  margin: auto;



}

#demo{

}
#our_product{
  background-color: white;
}

#our_product::after{
  /*margin: auto;
  background-image:  url("img/ai_v2.jpg");
   background-repeat: no-repeat;*/

  background-color: white;
  height:auto;
  background-position: left;
  content: "";
  clear: both;
  display: block;

}
#section_3 {

  /*background-color: #E8E6D7;*/
  background-color: #DCDCDC;
  height: auto;



}

#section_4 {
  margin-top: -49px;
  /*background-color: #E8E6D7;*/
  background-color:white;
  height: auto;



}

#product_methodology {
  padding-top: 20px;
  padding-left: 170px;
  height: auto;
  background-color: #F8F8FF;
}

.jumbotron{
  margin: auto;
  width:100%;
  height:auto;

}

.our_company {
  height: auto;
  background-color: #DCDCDC;
}

.nav-guide li {
  display: inline-block;
  float: right;
  position: relative;
  padding-top: 18px;
  padding-right: 20px;


}

.item_1{
  text-decoration-color: black;
  font-family: fantasy;
  font-size:20px;
}

.nav-guide a {
  text-decoration: none;


  padding: 8px 8px;

}

ul.nav-guide{
  list-style-type: none;
}

.nav-guide{

}

/*.nav-guide li:hover>a, .nav-guide a:focus {
  border-radius: 5px;

  color: red;
}*/

.knowledge{
  border-radius: 5px;
  border-width: 2px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888
}
.knowledge_2{
  margin-left: 55px;
  width: 250px;
  height: auto;
  border-radius: 5px;
  border-width: 2px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888
}
.knowledge_3{
  margin-left: 55px;
  width: 300px;
  height: auto;
  border-radius: 5px;
  border-width: 2px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888
}

.download {

  color: #F07818;
  text-decoration: none;
  font-size: 25px;
  font-family: fantasy;

  padding-left: 15px;
  z-index: 10;


}

.download:hover {

  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: #66a992;

  transition: color linear 0.15s;
}

.download_window {

  border-radius: 5px;
  padding-top: 4px;
  padding-left: 12px;
  width: 185px;
  height: 42px;
  background-color: #303030;
  position: relative;
  margin-right: 10px;
  margin-top: 150px;
  float: right;
  z-index: 0;
}

.vision {
  margin-top: 30px;
  padding-top: 60px;
  text-align: center;
  background-color: #DCDCDC;
  height: 220px;

}

.vision_1 {
  padding-top: 50px;
  margin-right:10px;
  padding-left: 30px;
  width: 100%;
  margin-top: 0px;
  padding-top: 10px
  text-align: center;
  background-color: #4d4d4d;
  height: 212px;
  display: inline-block;
}

.vision_2{
  margin-top: 40px;
  margin-right:10px;
  padding-left: 30px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  background-color: #4d4d4d;
  height: 100px;
  display: inline-block;
}
.Learn{
  margin-top: 95px;
  margin-right:10px;


}
.blank {
  padding-top: 20px;
  text-align: center;
  height: 20px;
  background-color: white;
  display: inline-block;
}

.blank_1 {
  padding-top: 20px;
  text-align: center;
  height: 20px;
  background-color: #4d4d4d;
  display: inline-block;
}

.strech_methodology {

  padding-left: 3px;
  height: auto;
  background-color: #ffffff;

}

.strech_methodology_footer {
  margin-bottom: 100px;
  background-color: #4d4d4d;


}

.footer {

  width: 100%;
  height: auto;
  background-color: #404040;


}

.row{
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.p{
  padding-left: 50px;
  padding-top: 50px;
  display: inline-block;
}
.p1{
  padding-left: 50px;
  display: inline-block;


}
.p2{
  padding-left: 50px;
  display: inline-block;

}
.p3{
  padding-left: 50px;
  display: inline-block;

}


.social {


}


.social li {

  padding-left: 10px;

}

/* symbel color*/
.social i {
  color: #F07818;
  font-size: 150%;
  padding-top: 20px;
}

.social i:hover {
  color: #DCDCDC
}



.text {
  margin-bottom: -10px;
  text-align: center;
  font-size: 25px;

  font-family: fantasy;
  color: #66a992;
}
.text1{
  color: #66a992;
  margin-top: 500px;

}
.license{
  color:#999999;
  font-family:fantasy;
}


.social a:hover{

  color:white;
}



.text_footer_2 {
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 15px;

  font-family: sans-serif;
  color: #66a992;
}



.text_footer_3 {
  margin-bottom: 150px;
  padding-left: 10px;
  font-size: 20px;

  font-family: sans-serif;
  color: #66a992;
}

/* list bullet symbel free*/
ul.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.Learn{
  list-style-type: none;

}





.google-maps {
  position: relative;
  overflow: hidden;
}

.copy_right {
  color: white;
}

.clearfix {
  overflow: auto;
}


#logo-guide a:hover, #logo-guide .current-item a {
  text-decoration: none;
/*  color: #66a992;*/
  color: white;

}



/*
@media only screen and (min-width: 500px) {

  .col-m-1 {
    width: 15%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  .col-m-13 {
    width: 27%;
  }
  .col-m-14 {
    width: 5%;
  }



}

*/
@media only screen and (min-width: 1122px) {
  /* For desktop: */
  [class*="col-3"]{
    float: left;
  }
  [class*="col-9"]{
    float: left;
  }
  [class*="col-6"]{
    float: left;
  }
  .col-12{
   float: left;
  }
  .col-1 {
    width: 24%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .col-13 {
    width: 27%;
  }
  .col-14 {
    width: 5%;
  }
  ul.nav-guide{
    list-style-type: none;
  }

  #logo-guide li {
    display: inline-block;
    float: right;
    position: relative;
    padding-top: 18px;
    padding-right: 20px;


  }
/* change menu text color */
  #logo-guide a {
    text-decoration: none;
    font-size: 10px;
    color: #999999;
    font-family: Sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 22px;
  }

  .knowledge{

    margin: auto;
    width: 80%;
    margin-left: 75px;


  }

}

@media screen and (max-width: 1122px) {
  [class*="col-"] {
    width: 100%;
  }
  .flow_text_1{
    text-align: center;
    font-size: 2.2vw;
    font-weight: bold;
  }
  #logo-guide ul.nav-guide {
    display: none;

  }

  #logo-guide ul {

    width: 180px;
    position: absolute;
    top: 85%;
    right: 0px;
    padding: 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    height: 230px;
    decoration:none;

    list-style-type: none;


  }


  #logo-guide ul:after {
    width: 0px;
    height: 0px;
    position: absolute;

    top: 0%;
    right: 22px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;

  }

  #logo-guide a {
    text-decoration: none;
    font-size: 10px;
    color: #999999;
    font-family: Sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 22px;


  }

  #logo-guide li{
    padding-top: 20px;

  }
 ul.nav-guide{

      list-style-type: none;
  }
/*toggle buttom*/
  .toggle-nav {
    margin-top: 10px;
    padding: 20px;
    float: right;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #777;
    font-size: 20px;
    transition: color linear 0.15s;

  }
  .knowledge{
    margin: auto;
    width: 30%;
    height: auto;
    margin-left:350px;

  }
/*
  .toggle-nav:hover, .toggle-nav.nav-guide {
    text-decoration: none;
    color: #66a992;
  }
  align list in footer to center*/
  .p{
    text-align: center;
  }
  .p1{
    padding-top: 100px;
    text-align: center;
  }
  .p2{
    text-align: center;
  }
  .p3{
    text-align: center;
  }
  .flow{
    padding-bottom: 60px;
    padding-top: 40px;
  }
}
